.options .photos {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0%;
  left: 10%;
}

.options .photo-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.options .frame-buttons {
  position: absolute;
  width: 80%;
  height: 20%;
  top: 85%;
  left: 10%;
}

/* .options .PhotoEmpty-1-0 {
  position: absolute; 
  width: 90% !important;
  height: 90% !important;
}
.options .PhotoEmpty-1-0 {
  left: 5% !important;
  top: 5% !important;
}

.options .PhotoEmpty-2-0,
.options .PhotoEmpty-2-1 {
  position: absolute; 
  width: 90% !important;
  height: 45% !important;
}

.options .PhotoEmpty-2-0 {
  left: 5% !important;
  top: 2.5% !important;
}

.options .PhotoEmpty-2-1 {
  left: 5% !important;
  top: 52.5% !important;
} */