.number-select .options {
  top: 25%;
  height: 140% !important;
  width: 195vh !important;
  left: 50%;
  transform: translateX(-26.5vh) !important;
  position: relative;
}

.number-select .option-0,
.number-select .option-1,
.number-select .option-2,
.number-select .option-3 {
  position: absolute;
  object-fit: contain;
  width: 12% !important;
  height: 24% !important;
}

.number-select .option-0 {
  top: 0%;
  left: 1%;
}

.number-select .option-1 {
  top: 0%;
  left: 14%;
}

.number-select .option-2 {
  top: 26%;
  left: 1%;
}

.number-select .option-3 {
  top: 26%;
  left: 14%;
}