.select {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
  align-items: center; 
  margin: -50px -8px;
}

.select .div {
  background-color: #222222;
  border: 1px none;
  height: 100vh; /* 혹시나 Custom Property 지원 안하는 브라우저를 위한 복귀점(Fallback) */
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  width: 400px;
}

.select .h-1 {
  color: #42C678;
  font-family: "Koverwatch";
  font-size: 4vh !important;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  height: 23px;
  left: 50% !important;
  transform: translateX(-95%);
  position: relative;
  white-space: nowrap;
  top: 9vh !important;
  width: 25vh !important;
  position: absolute;
}

.select .text-wrapper-2 {
  color: #ffffff;
  font-family: "Koverwatch";
  font-size: 2.5vh !important;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  height: 23px;
  left: 50% !important;
  transform: translateX(-95%);
  top: 16vh !important;
  width: 25vh;

  position: absolute;
  white-space: nowrap;
}

.select .bottom-bar {
  position: absolute;
  justify-content: center;
  left: 50% !important;
  top: 98% !important;
  transform: translateX(-50%) !important;
  height: 7%;
  align-items: center;
  display: inline-flex;
  width: 20vh;
}

.select .button-instance-prev {
  background-color: #e4f0ff !important;
  margin-right: 20% !important;
  width: 20%;
  height: 5vh;
}

.select .button-instance-next {
  margin-left: 20% !important;
  width: 20%;
  height: 5vh;
}

.select .text-wrapper-3 {
  color: #ffffff;
  font-family: "Koverwatch";
  font-size: 3vh !important;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 20% !important;
}

.select .options {
  top: 23%;
  width: 48vh !important; /* 가로 크기 설정 */
  padding-bottom: 64vh !important; /* 세로 크기는 가로 크기의 3/4, 4:3 비율 유지 */
  left: calc(50% + 2vh);
  transform: translateX(-26vh) !important;
  position: relative;
  background: #222222; /* 배경색 추가, 필요에 따라 변경 */
  overflow: hidden; /* 내부 내용이 넘치지 않게 함 */
}