@font-face {
  font-family: "NanumSquareRound-Light";
  font-style: normal;
  font-weight: 100;
  src: url("./NanumSquareRoundL.eot") format("eot"),
  url("./NanumSquareRoundL.woff") format("woff");
}

@font-face {
  font-family: 'MBC1961GulimM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OAGothic-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'OAGothic-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Koverwatch';
  src: url('https://download.blog.naver.com/open/22b73e8d9bcfc61a37d2b382bb532459f8a355b45b/doVMmoXFvGrfGylvQqy86UhKK2EtAq9OgNVAWa5XeMf1EN3-WgUy1o6F5Q_A5ndWClj5_piD36jrUJ13u3ODLA/koverwatch.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}