code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* * {
  box-sizing: border-box;
} */

button {
  cursor: pointer;
}

.PhotoEmpty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  z-index: 10;
  position: fixed;
  left: 0vw !important;
  top: 0vh !important;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  position: inherit;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
}

.backdrop {
  position: inherit;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}

.modal {
  z-index: 2;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  padding: 20px 16px;
  margin: 0;
}

.content-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.givenPhoto {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.givenPhoto .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #E4F1FF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.givenPhoto > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-upload-button.center {
  /* 정중앙 위치 설정 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
}

.image-upload-button.top-right {
  /* 오른쪽 위 위치 설정 */
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
}

.image-compress-button {
  border: none;
  background: #ffffff;
  width: 100px;
  height: 30px;
}

.modal {
  position: relative;
  z-index: 2;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top: 0%;
}

.modal h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  padding: 20px 16px;
  margin: 0;
}

.content-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 100%;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 16px;
  background: #ffffff;
  column-gap: 12px;
}

.footer button {
  width: 100px;
  height: 40px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  background: white;
}

.footer .crop {
  background: #25a7fd;
  color: white;
  border: none;
}