.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  border: 1px none;
  height: 100%;
  position: relative;
  width: 390px;
}

.home .button-instance {
  left: 125px !important;
  position: absolute !important;
  top: 74vh !important;
}

.home .design-component-instance-node {
  margin-left: unset !important;
  margin-right: unset !important;
}

.home .button-2 {
  background-color: #e4f0ff !important;
  left: 125px !important;
  position: absolute !important;
  top: 83vh !important;
}

.home .h-1 {
  color: #000000;
  font-family: "NanumSquareRound-Light", Helvetica;
  font-size: 12vh;
  font-weight: 300;
  height: 10vh;
  left: 101px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0vh;
  width: 188px;
}

.home .element {
  height: 30vh;
  left: 104px;
  object-fit: contain;
  position: absolute;
  top: 40vh;
  width: 182px;
}
